@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff");
}

html {
  width:100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
