$page-min-width: 1024px;

$color-white: #FFFFFF;
$color-grey: #F5F5F9;
$color-tab-grey: #D7D9DF;
$color-form-grey: #9F9E9E;
$color-dark: #48494D;
$color-grey-transparent: rgba(72, 73, 77, 0.5);
$color-black: #000000;
$color-red: #D12136;
$color-red-hovered: #BD0C21;
$color-validation-error: #FF0000;
